.carrito-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 50px 50px;
  padding: 30px 50px;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.carrito-img {
  width: 50px;
  height: 50px;
}

.carrito-name {
  width: 300px;
  margin: auto 0;
}

.carrito-name h3 {
  text-align: start;
}

.carrito-envio {
  font-size: 14px;
  font-weight: 100;
  color: #00a650;
}

.carrito-precio {
}

.carrito-total {
  text-align: end;
}
