.detalle-producto-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
}

.detalle-producto-img {
  margin-left: 100px;
  width: 400px;
  height: auto;
}
.detalle-producto {
  padding-right: 150px;
}
.detalle-producto-titulo {
  text-align: start;
}
.star-img {
  text-align: start;

  height: 30px;
  width: 150px;
  cursor: pointer;
  margin-right: 5px;
}

.star-img svg {
  fill: #3483fa;
  color: #3483fa;
}

.detalle-producto-precio {
  text-align: start;
  font-size: 36px;
  font-weight: 100;
  margin: 0 0;
}

.detalle-producto-descripcion {
  text-align: start;
}

.detalle-producto-chekout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin-right: 30px;
}

.btn-comprar {
  width: 80%;
  height: 50px;
  cursor: pointer;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-carrito {
  width: 80%;
  height: 50px;
  cursor: pointer;
  background-color: rgba(65, 137, 230, 0.15);
  border-color: transparent;
  color: #3483fa;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
}
.btn-comprar:hover {
  background-color: #2563bf;
  border-color: transparent;
  color: #fff;
}

.btn-carrito:hover {
  background-color: rgba(28, 92, 176, 0.15);
  border-color: transparent;
  color: #3483fa;
}
