.detalle-producto-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 100px 5%;
}

.detalle-producto-img {
  width: 400px;
  height: auto;
}

.detalle-producto-titulo {
  text-align: start;
}
.star-img {
  text-align: start;
  height: 30px;
  width: 150px;
  cursor: pointer;
  margin-right: 5px;
}

.star-img svg {
  fill: #3483fa;
  color: #3483fa;
}

.detalle-producto-precio {
  text-align: start;
  font-size: 36px;
  font-weight: 100;
  margin: 0 0;
}

.detalle-producto-descripcion {
  text-align: start;
}
